     QLabel {
            padding: 10px;
            border-top-left-radius: 18px;
            border-bottom-left-radius: 0px;
            border-top-right-radius: 18px;
            border-bottom-right-radius: 18px;
            background-color: #2A2A2A;
            font-size: 20px;
            color: white;
        }